<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SF Speed Alert</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SFSpeedAlert needs your location to warn you about nearby speed cameras while driving.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SFSpeedAlert needs your location to warn you about nearby speed cameras.</string>
	<key>NSMotionUsageDescription</key>
	<string>SFSpeedAlert uses motion data to detect when you are driving.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
